@charset "utf-8";
html, body, nav, div, ul, li, a, p, img, header, ol, ul, button, h1, input, label, footer, section
{
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
p,h2 {
    text-decoration:none;
}

/*粒子网络动画 start*/
.particle-network-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.particle-network-animation::before {
  z-index: -2;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  opacity: 0.2;
}

.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}

.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move 25s linear infinite both;
}

@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move 25s linear 8.3333333333s infinite both;
}

@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}
.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move 25s linear 16.6666666667s infinite both;
}

@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}
/*粒子网络动画 end*/

/*内容*/
.container{
  width: 900px;
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  text-align: center;
  z-index: 900;
}
.head{
  width: 510px;
  padding-top: 120px;
  padding-bottom: 60px;
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  text-align: center;
  z-index: 950;
}
.own,.organization{
  /*width: 50%;*/
  background: rgba(255, 255, 255, 0.35);
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
  padding: 40px 20px;
  margin: 0 0 20px;
  width: 250px;
  height: 250px;
  line-height: 135px;
  position: relative;
  /*圆角设置如下*/
  -moz-border-radius:3em;
  -webkit-border-radius:3em;
  border-radius:3em;
  /*阴影设置如下*/
  -moz-box-shadow:2px 1px 12px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow:2px 1px 12px rgba(0, 0, 0, 0.27);
  box-shadow:2px 1px 12px rgba(0, 0, 0, 0.27);
}
.own {
  float:left;
  margin-left:70px;
}
.organization {
  float:right;
  margin-right:70px;
}
.own p{
 color:#616161;
}
.organization p{
 color:#616161;
}
.own h2 {
  color: black;
  text-align: center;
  margin-top:55px;
  text-decoration:none;
}
.organization h2{
  color: black;
  text-align: center;
  margin-top:55px;
  text-decoration:none;
}
.own h2:hover {
  text-decoration:none;
}
.organization h2:hover {
  text-decoration:none;
}
.back{
  padding:80px 0 0 0;
  position: relative;
  text-align: center;
  clear:both;
}
.back a {
  color:#363636;
}